# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
PORT=8080

# API Configuration
BASE_API=https://api-gateway.dialics.com/api/v1

# Workspace 1 Configuration
WORKSPACE_1_NAME=Workspace 1
WORKSPACE_1_ID=your_workspace_1_id_here
WORKSPACE_1_TOKEN=your_workspace_1_token_here

# Workspace 2 Configuration
WORKSPACE_2_NAME=Workspace 2
WORKSPACE_2_ID=your_workspace_2_id_here
WORKSPACE_2_TOKEN=your_workspace_2_token_here
